		body,html {
			margin: 0;
			padding: 0;
            height: 100%;
            text-align: center;
            background: -webkit-linear-gradient(left, rgb(133, 55, 4), gray);
        }
        h5{
            text-align: center;
        }
        /* nav{
            color : rebeccapurple;
            text-align: center;
        } */
		.user_card{
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: gray;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		.form_container {
			margin-top: 20px;
		}

        .ml-2{
            color : #7abecc;
        }
        
		#form-title, .d-flex{
			color: #fff;	
		}

		.login_btn, .btn-primary {
			width: 100%;
			background: orange !important;
			color: white !important;
		}
		.login_btn:focus , .btn-primary:focus{
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #f7ba5b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

		#messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
        }
        
        .hello-msg{
            font-size: 18px;
            color:orange;
            margin-right: 20px;
          }

        .profile-img{
            text-align: center;
        }

        .emp-profile{
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 1rem;
            background: white;
        }