{% load static %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static '/Web_app/style.css' %}">
</head>
<nav>
    <div class="container">
        <div class="navbar-translate">
            <a class="btn" href="{% url 'Web_App:home' %}">Home</a>
            {% if user.is_authenticated %}
                <a class="btn" href="{% url 'Web_App:profile' %}"> Hello, {{request.user}}</a>
                <a class="btn" href="{% url 'Web_App:logout' %}">Logout</a>
            {% else %}
                <a class="btn" href="{% url 'Web_App:login' %}">Login</a>
                <a class="btn" href="{% url 'Web_App:register' %}">Register</a>
            {% endif %}   
        </div>    
    </div>
</nav>