{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Test AYOMI</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static '/Web_app/style.css' %}">

    
</head>
<body>
	{% include 'Web_App/navbar.html' %}
	<div class="container-fluid">
	{% block content %}
	{% endblock %}
    </div>
	<hr>
    <h5 class="text-center"><b>Welcome in your profile </b></h5>
    <br><br><br>

    <div class="container emp-profile">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" class="rounded-circle"/>
                    </div>
                </div>
                <br><br><br>

                <div class="col-md-8"><br>
                    <div class="tab-content profile-tab">
                        <div class="row text-left">
                            <div class="col-md-6">
                                <label><b> Username </b></label>
                            </div>
                            <div class="col-md-6">
                                <p>{{request.user.username}}</p>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-md-6">
                                <label><b>Full name </b></label>
                            </div>
                            <div class="col-md-6">
                                <p>{{request.user.get_full_name}}</p>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-md-6">
                                <label><b>Email</b></label>
                            </div>
                            <div class="col-md-6">
                                <p>{{request.user.email}}</p>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-md-6">
                                <label><b>Last login<b></label>
                            </div>
                            <div class="col-md-6">
                                <p>{{request.user.last_login}}</p>
                            </div>
                        </div>  
                        <br>
                        <div class="row text-left">
                            <div class="col-md-3">
                                <a class="btn btn-primary">Update user</a>
                            </div>  
                        </div>               
                    </div>
                </div>
            </div>     
                
        </form>    
    </div>
    <div class=”bg-modal”>
        <div class=”modal-content”>
        
        </div>
    </div>
<!--  -->
</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>

