{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Test AYOMI</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static '/Web_app/style.css' %}">

        
    </head>
    <body>
        {% include 'Web_App/navbar.html' %}
        <div class="container-fluid">
        {% block content %}
        {% endblock %}
        </div>
        <hr>

        <form method="post" action="">
            {% csrf_token %}
        
        <div class="modal-header">
            <h5 class="modal-title">Update User {{request.user.get_full_name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        
            <div class="modal-body">
                <input type="text" name="email" placeholder="Email..."  value={{request.user.email}} class="form-control">

            </div>
        
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="submit-btn btn btn-primary" href="{% url 'Web_App:updateUser' request.user.id  %}">Save</button>
            </div>
        
        </form>
    </body>
</html>